<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>FruitBazar</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'user_app/assets/img/favicon.png '%}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'user_app/assets/css/all.min.css '%}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'user_app/assets/bootstrap/css/bootstrap.min.css '%}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'user_app/assets/css/owl.carousel.css '%}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'user_app/assets/css/magnific-popup.css '%}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'user_app/assets/css/animate.css '%}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'user_app/assets/css/meanmenu.min.css '%}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'user_app/assets/css/main.css '%}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'user_app/assets/css/responsive.css '%}">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'index_view' %}">
								<img src="{% static 'user_app/assets/img/logor.png '%}" alt="FruitBazar" class="logo-img">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>

								<li class="current-list-item"><a href="{% url 'index_view' %}">Home</a>
								</li>
								<li><a href="{% url 'about_view' %}">About</a></li>
								<li><a href="#">Pages</a>
									<ul class="sub-menu">
										<li><a href="{% url 'fzf_view' %}">404 page</a></li>
										<li><a href="{% url 'about_view' %}">About</a></li>
										<li><a href="{% url 'cart_view' %}">Cart</a></li>
										<li><a href="{% url 'checkout_view' %}">Check Out</a></li>
										<li><a href="{% url 'contact_view' %}">Contact</a></li>
										<li><a href="{% url 'news_view' %}">News</a></li>
										<li><a href="{% url 'shop_view' %}">Shop</a></li>
									</ul>
								</li>
								<li><a href="{% url 'news_view' %}">News</a>
									<ul class="sub-menu">
										<li><a href="{% url 'news_view' %}">News</a></li>
										<li><a href="{% url 'single_news_view' %}">Single News</a></li>
									</ul>
								</li>
								<li><a href="{% url 'contact_view' %}">Contact</a></li>
								<li><a href="{% url 'shop_view' %}">Shop</a>
									<ul class="sub-menu">
										<li><a href="{% url 'shop_view' %}">Shop</a></li>
										<li><a href="{% url 'checkout_view' %}">Check Out</a></li>
										<li><a href="{% url 'cart_view' %}">Cart</a></li>
									</ul>
								</li>
								{% if user.is_authenticated %}
									<li>Hello, {{ user.username }}</li>
									<li><a href="{% url 'logout_view' %}">Logout</a></li>
								{% else %}
									<li>
									<a href="{% url 'pages_login' %}">
										<i class="fas fa-user" style="color:#F28123;"></i> Login
									</a>
									</li>
									<li>
									<a href="{% url 'pages_register' %}">
										<i class="fas fa-user-plus" style="color:#F28123;"></i> Register
									</a>
									</li>
								{% endif %}
								<li>
									<div class="header-icons">
										<!-- <a class="shopping-cart" href="#">
											<i class="fas fa-shopping-cart"></i>
										</a> -->
										<a class="shopping-cart" href="{% url 'cart_view' %}">
											<i class="fas fa-shopping-cart"></i>
											<span id="cart-count" style="color:red;font-weight:bold;">
												{{ cart_total_quantity }}
											</span>
										</a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>							

							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

{% block content %}
{% endblock %}

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>FruitBazar brings you fresh, high-quality fruits sourced with care and delivered with freshness you can trust. Our goal is to make healthy living simple, affordable, and enjoyable for everyone.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>12 Bavla, Ahemdabad, India.</li>
							<li>fruitbazar@gmail.com</li>
							<li>7622983090</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'index_view' %}">Home</a></li>
							<li><a href="{% url 'about_view' %}">About</a></li>
							<li><a href="{% url 'shop_view' %}">Shop</a></li>
							<li><a href="{% url 'news_view' %}">News</a></li>
							<li><a href="{% url 'contact_view' %}">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Join FruitBazar to receive the latest offers, fresh arrivals, and healthy tips straight to your email.</p>
						<form method="POST" action="{% url 'subscribe_view' %}">
							{% csrf_token %}
							<input type="email" name="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<!-- <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/"></a>,  All Rights Reserved.<br> -->
					<p>	Designed By - <a href="#">RiShAbH</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'user_app/assets/js/jquery-1.11.3.min.js '%}"></script>
	<!-- bootstrap -->
	<script src="{% static 'user_app/assets/bootstrap/js/bootstrap.min.js '%}"></script>
	<!-- count down -->
	<script src="{% static 'user_app/assets/js/jquery.countdown.js '%}"></script>
	<!-- isotope -->
	<script src="{% static 'user_app/assets/js/jquery.isotope-3.0.6.min.js '%}"></script>
	<!-- waypoints -->
	<script src="{% static 'user_app/assets/js/waypoints.js '%}"></script>
	<!-- owl carousel -->
	<script src="{% static 'user_app/assets/js/owl.carousel.min.js '%}"></script>
	<!-- magnific popup -->
	<script src="{% static 'user_app/assets/js/jquery.magnific-popup.min.js '%}"></script>
	<!-- mean menu -->
	<script src="{% static 'user_app/assets/js/jquery.meanmenu.min.js '%}"></script>
	<!-- sticker js -->
	<script src="{% static 'user_app/assets/js/sticker.js '%}"></script>
	<!-- main js -->
	<script src="{% static 'user_app/assets/js/main.js '%}"></script>

	<script>
	$(document).on("click", ".add-to-cart", function(e){
		e.preventDefault();

		var url = $(this).attr("data-url");

		console.log("URL:", url);

		$.ajax({
			url: url,
			method: "GET",
			success: function(response){
				$("#cart-count").text(response.cart_total_quantity);
			},
			error: function(){
				console.log("Error in AJAX");
			}
		});
	});
	</script>

</body>
</html>