{% extends 'user_app/master.html' %}
{% load static%}
{% block content %}

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<form method="GET" action="{% url 'shop_view' %}">
								<input type="text" name="search" placeholder="Search fruits...">
								<button type="submit">Search <i class="fas fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
							{% for i in category %}
                            <li data-filter=".{{ i.name|lower|cut:' ' }}">{{i.name}}</li>
							{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">

				{% for i in P %}
				<div class="col-lg-3 col-md-4 col-sm-6 text-center {{ i.category.name|lower|cut:' '}}">
					<div class="single-product-item">

						<div class="product-image">
							<a href="{% url 'single_product_view' i.id %}">
								{% if i.images.first %}
									<img src="{{ i.images.first.image.url }}" alt="{{ i.name }}" style="height: 130px;">
								{% endif %}
							</a>
						</div>

						<h3>
							<a href="{% url 'single_product_view' i.id %}">
								{{ i.name }}
							</a>
						</h3>
						<p class="product-price">
							<span>Price Per {{ i.unit }}</span> ₹ {{ i.price }}
						</p>
						<button class="cart-btn add-to-cart" style="background-color: #F28123; color: white; border-radius: 25px; padding: 10px 20px; border: none;" data-id="{{ i.id }}" data-url="{% url 'cart_add' i.id %}">
							<i class="fas fa-shopping-cart"></i> Add to Cart
						</button>
						
					</div>
				</div>
				{% endfor %}

			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<!-- <ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static  'user_app/assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static  'user_app/assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static  'user_app/assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static  'user_app/assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static  'user_app/assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- <script>
	$(window).on('load', function () {
		$('.product-lists').isotope({
			itemSelector: '.col-lg-3',
			layoutMode: 'fitRows'
		});
	});
	</script> -->

	<script>
		$(document).ready(function(){
			var $grid = $('.product-lists').isotope({
				itemSelector: '.col-lg-3',
				layoutMode: 'fitRows'
			});
			$('.product-filters ul li').click(function(){

				$('.product-filters ul li').removeClass('active');
				$(this).addClass('active');

				var filterValue = $(this).attr('data-filter');

				$grid.isotope({
					filter: filterValue
				});
			});
		});
	</script>

{% endblock %}