<!-- {% extends 'admin_app/master.html' %}
{% load static %}
{% block content %}

  <main id="main" class="main">
    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">SubCategory Form</h5> -->

            <!-- SubCategory Form -->
            <!-- <form method="POST">
                {% csrf_token %}
                
                <div class="card subcategory-card shadow p-4">
                    <h4 class="text-center mb-4">Add SubCategory</h4>

                    <div class="col-md-6">
                      <label class="form-label">Category Name</label>
                      <select name="category" class="form-select" required>
                        <option value="" selected disabled>Select Category Name</option>
                        {% for i in cat %}
                        <option value="{{i.id}}" {% if up.category.id == i.id %}selected{% endif %}>{{i.name}}</option>
                        {% endfor %}
                      </select>
                    </div><br>

                    <div class="mb-3">
                        <label class="form-label">SubCategory Name</label>
                        <input 
                            type="text"
                            name="name"
                            value="{{up.name}}"
                            class="form-control"
                            placeholder="Enter Subcategory name"
                            required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Save SubCategory
                    </button>

                </div>
            </form> -->
            <!-- End SubCategory Form -->
<!-- 
            </div>
          </div>

        </div>
      </div>
    </section>

  </main> -->
  <!-- End #main -->

<!-- {% endblock %} -->

